pytest
pytest-cov
pytest-flake8
pytest-mock
pytest-pylint
numpy
pandas
seaborn
matplotlib
scikit-learn
requests
docker
cloudscraper
js2xml
bs4
beautifulsoup4
setuptools
pytrends
alpha_vantage
joblib
keras
tensorflow
flask
flask_restful
flask_cors
fbprophet
creme
pytest